doctype html
html(lang="en")
  head
    title nira task todos
    link(rel='stylesheet', href='style.css')
  body
    h3.header Your tasks
    ul.tasks
      each task, index in tasks
        li.tasks__item
          a(href='#').tasks__link #{task.name}
          //- #{task.text}
